<article class="hentry">
	
	<header class="header-title">
		<div class="header-title-wrap">
			<h2 class="entry-title">Comments</h2>
		</div><!-- /.header-title-wrap -->
	</header>

	{% if (site.data.comments[page.slug] | size) > 0 %}
	<div class="entry-content">
		<div class="comments">
			{% for comment_hash in site.data.comments[page.slug] %}
				{% assign comment = comment_hash[1] %}
				<blockquote>
					<h1>{{comment.name}}</h1>
					<p>{{comment.message | markdownify}} </p>
				</blockquote>
			{% endfor %}
		</div>
	</div><!-- /.entry-content -->
	{% endif %}

	<div class="entry-content">
		<div class="comments">
			<h2>Leave a comment</h2>
			<hr />
			<form method="POST" action="https://api.staticman.net/v2/entry/RossJayJones/rossjayjones.github.io/master/comments">
				<input name="options[redirect]" type="hidden" value="https://rossjayjones.github.io/comments/thanks">
				<!-- e.g. "2016-01-02-this-is-a-post" -->
				<input name="options[slug]" type="hidden" value="{{ page.slug }}">
				<label><span>Name</span></span><input class="input-field" name="fields[name]" type="text"></label>
				<label><span>E-mail</span><input class="input-field" name="fields[email]" type="email"></label>
				<label><span>Message</span><textarea class="textarea-field" name="fields[message]"></textarea></label>
				<label><span>&nbsp;</span><input type="submit" value="Post" /></label>
			</form>
		</div>
	</div>
	</article>